profiles {
  standard {
    includeConfig 'conf/biohpc.config'
  }
}

manifest {
  name = 'chipseq_analysis'
  description = 'BICF ChIP-seq Analysis Workflow.'
  homePage = 'https://git.biohpc.swmed.edu/BICF/Astrocyte/chipseq_analysis'
  version = '1.0.6'
  mainScript = 'main.nf'
  nextflowVersion = '>=0.31.0'
}
